.paddingWrapper {
  padding: 45px 49px 63px 49px;
}

.icon {
  display: block;
  margin-bottom: 30px;
}

.inputIcon {
  padding: 8px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 8px 0 8px 10px;
}

.root {
  margin-bottom: 39px;
}

.submit {
  padding: 2px 56px;
  margin-bottom: 24px;
}
