.formContainer {
  padding-top: 18px;
  max-width: 727px;
  width: 100%;
  margin: 0 auto;
}

.formWrapper {
  background-image: url("./Sign-in-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 644px;
}
