:root {
  --white: #fff;
  --whiteRgb: 255, 255, 255;
  --red: red;
  --darkGrey: #4e5056;
  --blackRgb: 0, 0, 0;
  --black: #000;
  --blue: #1AC0EF;
  --redRgb: 239, 26, 52;
  --greyDisabled: #595C63;
  --inputWarningOrange: #F6851B;
  --inputWarningOrangeRgb: 246, 133, 27;
}
