.root {
  padding: 55px 55px 86px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 8px;
}

.text {
  line-height: 31px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: (var(--white));
  font-size: 18px;
  margin-bottom: 50px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
  padding: 1.5px 57px;
}
